<nav id="nav-bar">
  <div>
    <a href="/profile">
      
      <img class="profile-pic" src="<%= profilePic %>">
    </a>
  </div>
  <div>
    <a href="/">
      <h1>Conligo</h1>
    </a>
  </div>
  <div class="button-container">
    <% if (username) { %>
    <a href="/logout"><button type="button" class="btn btn-secondary">logout</button></a>
    <% }  %>
  </div>
</nav>