<nav id="nav-bar">
  <img class="profile-pic" src="../../images/dp.png" width="80px" height="80px">
  <a href="/">
    <span class="header">Conligo</span>
  </a>
  <div class="button-container">
    <% if (username) { %>
    <a href="/logout"><button type="button" class="btn btn-secondary">logout</button></a>
    <% } %>
  </div>
</nav>
