<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <% include ./partials/_header %>
  <% include ./partials/_navbar %>
  <title>Conligo - Home</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<% if(background) { %>

<body style="background-image:url(<%= background %>); background-size: 100%">
  <% } else { %>

  <body>
    <% } %>
    <% if (username) { %>
    <h1>Welcome Back
      <%= username %>!</h1>
    <% } %>
    <section class="flex-container">
      <form id="new_todo" method="POST" action="/todos">
        <textarea class="todo-input" name="todo"></textarea>
        <button class="btn btn-secondary" type="submit" id="create-new-todo">
          ADD
        </button>
      </form>
    </section>
    <section class="flex-container">
      <div class="flex-inner">
        <div class="todo-container">
          <div class="todo-title" id="title-movies">
            Films/Series
          </div>
          <div class="todo-list" id="list-movies">
          </div>
        </div>
        <div class="todo-container">
          <div class="todo-title" id="title-books">
            Books
          </div>
          <div class="todo-list" id="list-books">
          </div>
        </div>
      </div>
      <div class="flex-inner">
        <div class="todo-container">
          <div class="todo-title" id="title-restaurants">
            Restaurants
          </div>
          <div class="todo-list" id="list-restaurants">
          </div>
        </div>
        <div class="todo-container">
          <div class="todo-title" id="title-products">
            Products
          </div>
          <div class="todo-list" id="list-products">
          </div>
        </div>
      </div>
    </section>
  </body>

</html>
