<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile</title>
    <meta charset="utf-8">
    <% include ./partials/_header %>
    <% include ./partials/_navbar %>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>This is the profile page</h1>
    <p>Placeholder for later content</p>
  </body>
</html>
