$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;

$main: #641010;
$main-light: lighten($main, 5%);
$main-dark: darken($main, 5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: $body-bg;
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: $main;
  transition: 0.5s ease;

  &:hover {
    color: $main-dark;
  }
}

.form {
  background: rgba($form-bg, .9);
  padding: 40px;
  max-width: 700px;
  margin: 40px auto;
  border-radius: $br;
  box-shadow: 0 4px 10px 4px rgba($form-bg, .3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba($gray-light, .25);
    color: $gray-light;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;

    &:hover {
      background: $main-dark;
      color: $white;
    }
  }

  .active a {
    background: $main;
    color: $white;
  }
}

.tab-content>div:not(:first-child) {
  display: none;
}


h1 {
  text-align: center;
  color: $white;
  font-weight: $thin;
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba($white, .5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;

  .req {
    margin: 2px;
    color: $main;
  }
}

label.active {
  transform: translateY(-20px);
  left: 2px;
  font-size: 14px;

  .req {
    opacity: 0;
  }
}

label.highlight {
  color: $white;
}

input,
textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid $gray-light;
  color: $white;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;

  &:focus {
    outline: 0;
    border-color: $main;
  }
}

textarea {
  border: 2px solid $gray-light;
  resize: vertical;

  #new-todo {
    max-width: 360px;
    min-width: 200px;
  }
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  >div {
    float: left;
    width: 48%;
    margin-right: 4%;

    &:last-child {
      margin: 0;
    }
  }
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-weight: $bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: $main;
  color: $white;
  transition: all 0.5s ease;
  -webkit-appearance: none;

  &:hover,
  &:focus {
    background: $main-dark;
  }
}

.profile-button {
  display: block;
  width: 100%;
  font-size: 1.5rem;
}

.button-block {
  display: block;
  width: 100%;
  font-size: 2rem;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

// index page start

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 250px;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;

  form {
    min-width: 200px;
    max-width: 400px;
    width: 50%;
    padding: 5px;
    text-align: center;

    textarea {
      height: 2.5em;
      text-align: center;
      background-color: $form-bg;
    }

    button {
      margin-top: 5px;
    }
  }
}

.flex-inner {
  /*max-width: 50%;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;
  flex-wrap: wrap;
}

.todo-container {
  flex-grow: 1;
  flex-basis: 0;
  margin: 8px;
  min-width: 200px;
  max-width: 400px;
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
  border: 4px ridge $main-light;
  border-radius: 10px;
  text-align: center;
  opacity: .85;

  .todo-title {
    position: sticky;
    top: 0;
    background-color: $main;
    color: $gray;
    padding: 5px 0 5px 0;
    font-weight: $bold;
    font-size: 1.75em;
  }

  .todo-list {
    display: flex;
    background-color: rgba(193, 189, 186, 0.5);
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
    height: 88%;

    .list-item {
      display: flex;
      background-color: $body-bg;
      border-style: ridge;
      border-width: 2px;
      border-radius: 0px 5px 0px 5px;
      border-color: $main;
      margin: 2px 4px 2px 4px;
      padding: 5px;
      justify-content: space-between;

      img {
        height: 20px;
        width: 20px;
        opacity: 0;

      }

      .move-item:hover {
        opacity: 1;
      }

      .delete-item:hover {
        opacity: 1;
      }

    }

    .list-item:hover {

      img {
        opacity: 0.3;
      }
    }
  }
}

button {
  opacity: .9;
}

@media (max-width: 435px) {
  body {
    color: green;

    .todo-container {
      min-height: 0;

      .todo-list {
        display: none;

        .clicked {
          display: flex;
        }

      }
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  display: none;
  ;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@import "profile.scss";
@import "nav.scss";
