#nav-bar {
  background-color: grey;
  height: 70pt;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 0;

  h1 {
    margin: 0;
  }

  .profile-pic {
    line-height: 0pt;
    padding: 10pt 10pt 10pt 10pt;
    width: 80px;
    height: 80px;
    border-radius: 30%;
    margin: auto;
  }

  div.header {
    padding: 10pt 10pt 10pt 10pt;
    margin: auto;
    line-height: 3em;
    font-size: 20pt;
    color: white;
  }

  .button-container {
    float: right;
    padding-right: 10pt;
    line-height: 10pt;

    #logout {
      float: right;
      border: none;
      background-color: white;
    }
  }
}
